@media (min-width:1024px) {
    .add-height{
        display: flex;
        align-items: center;
        height: 986px;
    }   
}

@media (max-width:1024px) {
    .spot {
        display: none;
    }
}
.btn.btn-outline:hover {
    background-color: #309255;
    border-color: #309255;
    color: #fff;
}

