@media (min-width:1024px) {
    .add-height{
        display: flex;
        align-items: center;
        height: 986px;
    }   
}

@media (max-width:1024px) {
    .spot {
        display: none;
    }
}