.modal-content {
  overflow-y: scroll;
  max-height: 400px;
}
.modal-body {
  width: 100%;
  padding: 24px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  background-color: #fff;
}