.modal-content {
  overflow-y: scroll;
  max-height: 400px;
}
.modal-body {
  width: 100%;
  padding: 24px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  background-color: #fff;
}

::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
} 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #E7F8EE; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #309255; 
}